<div id="header">
  <h1>{{currentSlide.title}}</h1>
  <h2 ng:show="currentSlide.subtitle">{{currentSlide.subtitle}}</h2>
</div>
<div id="content" ng:controller="TabsController">
  <div id="tabs">
    <ul class="tab-headers">
      <li ng:class="activeClass('demo')" ng:click="setActive('demo')">Demo</li>
      <li ng:class="activeClass('html')" ng:click="setActive('html')">HTML</li>
      <li ng:class="activeClass('js')" ng:click="setActive('js')">JS</li>
    </ul>
    <div class="clear"></div>
    <div class="body">
      <div ng:show="isActive('demo')" my:right my:left>
        <div my:script="currentSlide.jsCode"></div>
        <div my:html="currentSlide.htmlCode"></div>
      </div>
      <div ng:show="isActive('html')" my:right my:left>
        <textarea name="currentSlide.htmlCode" my:code-editor="html" rows="10" cols="60"></textarea>
      </pre>
      </div>
      <div ng:show="isActive('js')" my:right my:left>
        <textarea name="currentSlide.jsCode" my:code-editor="js" rows="10" cols="60"></textarea>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <h3>{{presentation.author}} - {{presentation.title}}</h3>
</div>
<div id="sidebar">
  <div id="llp-logo"></div>
  <div id="slide-number">{{currentSlideIdx + 1}}</div>
</div>
