html, body { 
  height: 100%;
  position: relative;
}

body { 
  font-family: MuseoSlab-500; 
  font-size: 2em;
  color: #303b41;
  background-color: #f0f0f2;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  padding-bottom: 0.5em;
  text-shadow: 0.05em 0.05em 0.2em #303b41;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 0.5em;
  color: #34adef;
}

#header, #content {
  margin-right: 80px;
  margin-left: 1em;
}

#header {
  padding-top: 0.5em;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 1em;
}

#footer h3 {
  color: #34adef;
  font-size: 0.7em;
  border-top: 1px solid #a1a1ad;
  padding: 0.2em;
  padding-top: 0.8em;
  margin-right: 110px;
  margin-left: 30px;
}

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 75px;
  height: 100%;
  background-color: #303b41;
  border-left: 5px solid #34adef;
}

#slide-number {
  position: absolute;
  color: #f0f0f2;
  background-color: #34adef;
  font-size: 0.7em;
  bottom: 120px;
  left: 0;
  padding: 0.3em;
  padding-bottom: 0.1em;
}

#title {
  margin-right: 80px;
  height: 100%;
  text-align: center;
}

#title h1 {
  padding-top: 20%;
}

#llp-logo {
  height: 350px;
  width: 75px;
  background: url('/images/llp-logo.png') top left no-repeat;
}

#content ul {
  list-style-type: circle;
  padding-left: 1em;
}

#content img {
  height: 400px;
  width: auto;
  text-align: center;
}

#tabs ul.tab-headers li {
  display: block;
  float: left;
  width: 80px;
  font-size: 0.7em;
  margin-right: 0.2em;
  border: 1px solid #a1a1ad;
  border-bottom: none;
  padding: 0.3em;
  padding-bottom: 0.1em;
  text-align: center;
}

#tabs ul.tab-headers li.active {
  background-color: #34adef;
}

#tabs ul.tab-headers li {
  color: #303b41;
  text-decoration: none;
}

#tabs ul.tab-headers li.active {
  color: #f0f0f2;
  text-decoration: underline;
}

#tabs ul.tab-headers {
  list-style-type: none;
  padding: 0;
}

#tabs .body {
  border: 1px solid #a1a1ad;
  padding: 0.2em;
  margin-right: 30px;
  font-size: 0.8em;
  max-height: 200px;
  overflow: auto;
}

#tabs .body p {
  margin-top: 0.5em;
}

.clear {
  clear: both;
}

.snippet pre {
  font-family: monospace;
  background-color: #ddd;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 1em;
  max-height: 400px;
  overflow: auto;
  font-size: 0.8em;
  margin-right: 30px;
}
